<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragmentos/head :: _head"></head>

<body>
	<div sec:authorize="hasRole('ADMINISTRADOR')">
		<nav th:insert="fragmentos/navbar :: _navbar"></nav>

		<div th:if="${listar}!= null">
			<div
				th:replace="fragmentos/actor/listarActor.html :: _listarActor(actores=${actores})">
			</div>
		</div>

		<div th:if="${registrar}!= null">
			<div
				th:replace="fragmentos/actor/registrarActor.html :: _registrarActor(actor=${actor}, error=${error})">
			</div>
		</div>

		<div th:if="${editar}!= null">
			<div
				th:replace="fragmentos/actor/editarActor.html :: _editarActor(actor=${actor}, error=${error})">
			</div>
		</div>
	</div>
	<script th:replace="fragmentos/head :: _scriptBoostrap"></script>
</body>

</html>