<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragmentos/head :: _head"></head>

<body>
	<nav th:insert="fragmentos/navbar :: _navbar"></nav>
	
	<div sec:authorize="hasRole('ADMINISTRADOR')">
	
		<div th:insert="fragmentos/sideNavAdmin :: _sideNavAdmin"></div>
	
		<main id="main" class="container-fluid">
			<div th:if="${listar}!= null">
				<div
					th:replace="fragmentos/actor/listarActor.html :: _listarActor(actores=${actores}, listar=${listar})">
				</div>
			</div>
	
			<div th:if="${registrar}!= null">
				<div
					th:replace="fragmentos/actor/registrarActor.html :: _registrarActor(actor=${actor}, error=${error} , registrar=${registrar})">
				</div>
			</div>
	
			<div th:if="${editar}!= null">
				<div
					th:replace="fragmentos/actor/editarActor.html :: _editarActor(actor=${actor}, error=${error}, editar=${editar})">
				</div>
			</div>
		</main>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/dataTables-demo.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="/js/script.js"></script>   
</body>

</html>