<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragmentos/head :: _head"></head>

<body>
	<nav th:insert="fragmentos/navbar :: _navbar"></nav>
	<div sec:authorize="hasRole('ADMINISTRADOR')">
		<div th:if="${listar}!= null">
			<div
				th:replace="fragmentos/cine/listarCine.html :: _listarCine(cines=${cines}, listar=${listar})">
			</div>
		</div>

		<div th:if="${registrar}!= null">
			<div
				th:replace="fragmentos/cine/registrarCine.html :: _registrarCine(cine=${cine}, error=${error} , registrar=${registrar}, salas=${salas})">
			</div>
		</div>

		<div th:if="${editar}!= null">
			<div
				th:replace="fragmentos/cine/editarCine.html :: _editarCine(cine=${cine}, error=${error}, editar=${editar})">
			</div>
		</div>
	</div>
	<script th:replace="fragmentos/head :: _scriptBoostrap"></script>
</body>

</html>