<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragmentos/head :: _head"></head>

<body>
	<nav th:insert="fragmentos/navbar :: _navbar"></nav>
	
	<div sec:authorize="hasRole('ADMINISTRADOR')">
	
		<div th:insert="fragmentos/sideNavAdmin :: _sideNavAdmin"></div>
	
		<main id="main" class="container-fluid">
			<div th:if="${listar}!= null">
				<div
					th:replace="fragmentos/funcion/listarFuncion :: _listarFuncion(funciones=${funciones},listar=${listar})">
			    </div>
			</div>    
			<div th:if="${registrar}!= null">
				<div
					th:replace="fragmentos/funcion/registroFuncion :: _registroFuncion(registro=${registro},error=${error},salas=${salas},peliculas=${peliculas},tickets=${tickets},funcion=${funcion})">
				</div>
			</div>
			<div th:if="${editar}!= null">
				<div
					th:replace="fragmentos/funcion/editarFuncion :: _editarFuncion(editar=${editar},error=${error},salas=${salas},peliculas=${peliculas},tickets=${tickets},funcion=${funcion})">
				</div>
			</div>
		</main>
		
	</div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>   
</body>
