<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragmentos/head :: _head"></head>

<body>
    <nav th:insert="fragmentos/navbar :: _navbar"></nav>
	
	<div sec:authorize="hasRole('ADMINISTRADOR')">
		
		<div th:insert="fragmentos/sideNavAdmin :: _sideNavAdmin"></div>
		
		<main id="main" class="container-fluid">
			<div th:if="${listar}!= null">
				<div th:replace="fragmentos/pelicula/listarPelicula :: _listarPelicula(peliculas=${peliculas},listar=${listar})"></div>
			</div>
			<div th:if="${registrar}!= null">
				<div th:replace="fragmentos/pelicula/registroPelicula :: _registroPelicula(registro=${registro},error=${error},directores=${directores},actores=${actores},pelicula=${pelicula})"></div>
			</div>
			<div th:if="${editar}!= null">
				<div th:replace="fragmentos/pelicula/editarPelicula :: _editarPelicula(editar=${editar},error=${error},directores=${directores},actores=${actores},pelicula=${pelicula})"></div>
			</div>
		</main>
	</div>
	
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>  
    
</body>

</html>