<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragmentos/head :: _head"></head>

<body>
	<nav th:insert="fragmentos/navbar :: _navbar"></nav>
	
	<div sec:authorize="hasRole('ADMINISTRADOR')">
	
		<div th:insert="fragmentos/sideNavAdmin :: _sideNavAdmin"></div>
	
		<main id="main" class="container-fluid">
			<div th:if="${listar}!= null">
				<div
					th:replace="fragmentos/usuario/listarUsuario.html :: _listarUsuario(usuarios=${usuario},listar=${listar})">
				</div>
			</div>
	
			<div th:if="${registrar}!= null">
				<div
					th:replace="fragmentos/usuario/registroUsuario.html :: _registrarUsuario(usuario=${usuario}, error=${error},registrar=${registrar})">
				</div>
			</div>
	
			<div th:if="${editar}!= null">
				<div
					th:replace="fragmentos/usuario/editarUsuario.html :: _editarUsuario(usuario=${usuario}, error=${error},editar=${editar})">
				</div>
			</div>		
		</main>
		
	</div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>   
</body>

</html>