<div id="tablaAdmin" th:fragment="_listarAsiento(asientos,listar)">
<!-- DATATABLES -->
     <div class="row">
        <div class="col-md-9 mb-3 tamTabla">
          <div class="card">
            <div class="card-header">
              <span><i class="bi bi-table me-2"></i>Tabla de Asientos</span>
            </div>
            <div class="col col-md-4 mt-2 ms-2 mb-3">
				<form th:action="@{/asiento/buscarAsiento}" th:object=${asiento} method="POST" class="form">
                  <input class="buscador" th:value="${nombre}" type="text" placeholder=" Buscar">
                  <button class="btn btn_buscar" type="submit"><span><i class="uil uil-search"></i></span></button>
                  <a class="btn btn-light btn_actualizar" th:href="@{/asiento}"><i class="uil uil-sync"></i></a>
	      	  	</form>
	      	  	<p class="errorBuscar" th:if="${ErrorBuscar != null}" th:text="${ErrorBuscar}"></p>
			</div>
            <div>
              <div class="table-responsive">
                <table id="datatablesSimple" class="table table-striped data-table">
					<thead>
						<tr>
							<th scope="col">Id Asiento</th>
							<th scope="col">Numero de Asiento</th>
		<!-- 					<th scope="col">Nombre de Usuario</th> -->
							<th scope="col">Estado</th>
							<th scope="col">Modificar</th>
							<th scope="col">Eliminar</th>
						</tr>
					</thead>
					<tbody th:each="asiento : ${asientos}">
						<tr>
							<th scope="row" th:text="${asiento.idAsiento}"></th>
							<td th:text="${asiento.numeroDeAsiento}"></td>
		<!-- 					<td th:text="${asiento.ticket.usuario.nombre}"></td> -->
							<td>
								<a th:if="${asiento.libre}" th:href="@{/asiento/baja/__${asiento.idAsiento}__}"><i class="fa fa-circle" style="color:rgb(77, 144, 57);"></i></a>
								<a th:unless="${asiento.libre}" th:href="@{/asiento/alta/__${asiento.idAsiento}__}"><i class="fa fa-circle" style="color:rgb(231, 41, 41);"></i></a>
							</td>
							<td>
								<a th:href="@{/asiento/editar/__${asiento.idAsiento}__}"><i class="far fa-edit"></i></a>
							</td>
							<td>
								<a th:href="@{/asiento/eliminar/__${asiento.idAsiento}__}"><i class="far fa-trash-alt"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
              </div>
            </div>
          </div>
        </div>
      </div>	
</div>	     		