
<div th:fragment="_cardBoletoUsuario(tickets,listar)">
	
		<div th:each="ticket : ${tickets}" class="card mb-3 container-tarjeta-ticket">
			<div class="row g-0">

				<div class="col-md-5">
					<div class="container-imagen-boleto">
						<img src="/img/error/400.jpg"
							class="card-img-top p-2 flex-fill bd-highlight" alt="...">
					</div>
				</div>

				<div class="col-md-7">
					<div class="body-text-ticket d-inline-flex p-2">
						<div class="row">
							<h5 class="body-title titulo text-center">
								<small th:text="${ticket.funcion.pelicula.titulo}"></small>
							</h5>
							<div class="row">
								<div class="col-6 ">
									<p class="body-text-boleto">

										10/12/21 14:30<br> $1500
									</p>
								</div>
								<div class="col-6">
									<p class="body-text-boleto">
										Showcase (Junín 498)<br> 10/12/21 14:30<br> $1500
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
