<div id="tablaAdmin" th:fragment="_listarTicket(tickets,listar)">
<!-- DATATABLES -->
     <div class="row">
        <div class="col-md-9 mb-3 tamTabla">
          <div class="card">
            <div class="card-header">
              <span><i class="bi bi-table me-2"></i></span>
              <h1 class="text-center">Ticket</h1>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="datatablesSimple" class="table table-striped data-table">
		            <thead>
		                <tr>
		                    <th scope="col">Id</th>
		                    <th scope="col">Pelicula</th>
		                    <th scope="col">Usuario</th>
		                    <th scope="col">Fecha</th>
		                    <th scope="col">Horario</th>
		                    <th scope="col">Asiento</th>
		                    <th scope="col">Precio</th>
		                    <th scope="col">Modificar</th>
		                    <th scope="col">Eliminar</th>
		                </tr>
		            </thead>
		            <tbody th:each="ticket : ${tickets}">
	 					<tr>
		                    <th scope="row" th:text="${ticket.idTicket}"></th>
		                    <td th:text="${ticket.funcion.pelicula.titulo}"></td>
		                    <td th:text="${ticket.usuario.nombreDeUsuario}"></td>
		                    <td th:text="${ticket.funcion.fecha}"></td>
		                    <td th:text="${ticket.funcion.horario}"></td>
		                    <td th:text="${ticket.asiento.numeroDeAsiento}"></td>
		                    <td th:text="${ticket.precio}"></td>
		                    <td>
		                        <a th:href="@{/ticket/editar/__${ticket.idTicket}__}"><i class="far fa-edit"></i></a>
		                    </td>
		                    <td>
		                        <a th:href="@{/ticket/eliminar/__${ticket.idTicket}__}"><i class="far fa-trash-alt"></i></a>
		                    </td>
		                </tr>
		
		            </tbody>
		        </table>
		      </div>
            </div>
          </div>
        </div>
      </div>	
</div>	     
       