<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragmentos/head :: _head"></head>

<body>
	<nav th:insert="fragmentos/nav :: _cabeceraAdmin"></nav>
	
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">NOMBRE COMPLETO</th>
				<th scope="col">PAÍS</th>
				<th scope="col">EDIT</th>
				<th scope="col">DELETE</th>
			</tr>
		</thead>
		<tbody th:each="actor : ${actores}">
			<tr>
				<th scope="row" th:text="${actor.nombre}"></th>
				<td>
					<select name="pais">
   						 <option th:each="paisOpt : ${T(com.baeldung.thymeleaf.model.Pais).values()}" th:value="${paisOpt}" th:text="${paisOpt}"></option>
					</select>
				</td>
				<td><a th:href="@{/actor/edit/__${actor.id}__}">Edit</a></td>
				<td><a th:href="@{/actor/delete/__${actor.id}__}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary" th:href="@{/actor/create}">Add actor</a>
	<a class="btn btn-primary" th:href="@{/}">Index</a>
	
</body>

</html>