<div th:fragment="_listarActorDirector(lista)">

    <section class="container m-5">
    
        <h1 th:text="${listar}" class="text-center"></h1>
        
        <table class="table table-dark">
            <thead class="thead-dark">
                <tr class="misCampos">
                    <th>Nombre Completo</th>
                    <th>País</th>
                    <th>Alta</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fila: ${lista}">
                    <td scope="row" th:text="${fila.nombre}"></td>
                    <td>
                        <select name="pais">
                            <option th:each="paisOpt : ${T(com.baeldung.thymeleaf.model.Pais).values()}"
                                th:value="${paisOpt}" th:text="${paisOpt}"></option>
                        </select>
                    </td>
                    <td><a th:href="@{/entidad/edit/__${fila.id}__}">Edit</a></td>
                    <td><a th:href="@{/entidad/delete/__${fila.id}__}">Delete</a></td>
                </tr>
            </tbody>
        </table>
</div>

<div th:fragment="_botonesLista(parametro)">
    <div class=" text-center container">
        <div class="row justify-content-md-center">
            <div class="col col-md-2">
                <a class="btn btn-success my-2" th:href="@{/__${parametro}__/registrar}">Nuevo</a>
            </div>
            <div class="col col-md-2">
                <a class="btn btn-primary my-2" th:href="@{/}">Volver</a>
            </div>
        </div>
    </div>
    
</div>