<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragmentos/head :: _head"></head>

<body>
	<nav th:insert="fragmentos/nav :: _cabezeraAdmin"></nav>
	    <table>
        <thead th:replace="fragments/tableActorDirector.html :: _thead(~{ :: .misCampos})"></thead>
        <div th:replace="fragments/tableActorDierctor.html :: cuerpoTabla(directores=${director})"></div>
    </table>
    <div th:replace="fragmentos/tableActorDirector :: _botones(director='director')"></div>
</body>