<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragmentos/head :: _head"></head>

<body>
	<nav th:insert="fragmentos/navbar :: _navbar"></nav>
	
	<section id="ticketCompra">
		<!-- ERROR -->
		<div th:if="${error} != null" class="alert-danger alert-dimissible fade show mt-3" role="alert">
			<span th:text="${error}"></span>
		</div>
	
		<!-- GRID -->
		<div class="container-fluid">
			<div class="row mt-3">
	
				<!-- PRIMER COLUMNA: FOTO -->
				<div class="col-4">
				    <p>Ver Trailer: </p><p><strong th:text="*{pelicula.trailer}"></strong></p>
					<img th:src="*{'data:imagen/jpeg;base64,'+{pelicula.imagen}}" class="img-fluid rounded mx-auto d-block"
						alt="...">
				</div>
	
				<!-- SEGUNDA COLUMNA: PELICULA -->
				<div class="col-5">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
								data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
								aria-selected="true">
								Sinopsis
							</button>
							<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
								type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
								Datos
							</button>
						</div>
					</nav>
					<div th:object="${pelicula}" class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<p th:text="*{descripcion}"></p>
						</div>
						<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
	
							<p>TITULO:<strong th:text="*{titulo}"></strong></p>
							<p>AÑO:<strong th:text="*{anio}"></strong></p>
							<p>DURACIÓN:<strong th:text="*{duracion}"></strong></p>
							<p>GENERO:<strong th:text="*{genero}"></strong></p>
							<p>PAIS:<strong th:text="*{pais}"></strong></p>
							<p>IDIOMA:<strong th:text="*{idioma}"></strong></p>
							<p>SUBTITULO:<strong th:text="*{subtitulo}"></strong></p>
							<p>ACTORES:<strong><small th:each="actor : ${pelicula.actores}"
										th:text="${actor.nombreCompleto}"></small></strong></p>
							<p>DIRECTOR:<strong><small th:each="director : ${pelicula.director}"
										th:text="${director.nombre}"></small></strong></p>
						</div>
					</div>
				</div>

			<!-- TERCER COLUMNA: TICKET -->

			<div class="col-3">
				<div class="card mt-4">
					<div class="card-body">
						<div class="container">
							<h5 class="card-title text-center m-2">Boleto</h5>

							<form th:object="${ticket}" th:action="@{/ticket/compra/__${ticket.idTicket}__}" method="POST">
								<div class="form-group" hidden>
									<label class="form-label"><strong>Usuario:</strong></label>
									<input type="text" class="form-control" th:field="*{usuario}" th:placeholder="${ticket.usuario.nombreDeUsuario}" th:value="${usuario}" 
										readonly required></input>
								</div>
								<div class="form-group" hidden>
									<label class="form-label"><strong>Pelicula:</strong></label>
									<input type="text" class="form-control" th:field="*{pelicula}" th:placeholder="${ticket.pelicula.titulo}" th:value="${pelicula}"
										readonly required></input>
								</div>
								<p>Pelicula: <b th:text="${pelicula.titulo}"></b></p>
								<p>Usuario: <b th:text="${usuario.nombreDeUsuario}"></b></p>
								<p>Sala: <b th:text="${sala.nombreSala}"></b></p>
								<div class="form-group">
                                    <label class="form-label">Funcion dia</label>
                                   <select class="form-select" th:field="*{funcion}" required>
                                           <option th:each="funcion : ${funciones}" 
                                               th:value="${funcion.idFuncion}" th:text="${funcion.fecha}"></option>
                                   </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Funcion horario</label>
                                   <select class="form-select">
                                           <option th:each="funcion : ${funciones}" 
                                               th:value="${funcion.horario}" th:text="${funcion.horario}"></option>
                                   </select>
                                </div>
								<div class="form-group">
                                    <label class="form-label">Asiento</label>
                                   <select class="form-select" th:field="*{asiento}" required>
                                           <option th:each="asiento : ${asientos}" 
                                               th:value="${asiento.idAsiento}" th:text="${asiento.numeroDeAsiento}"></option>
                                   </select>
                                </div>
								<div class="form-group">
									<label class="form-label"><strong>Precio:</strong></label>
									<input type="text" class="form-control" th:field="*{precio}" th:value="*{precio}"
										required></input>
								</div>
<!-- 								<div class="form-group"> -->
<!-- 									<label class="form-label"><strong>Fecha:</strong></label> -->
<!-- 									<p>Recuerda comprar tu boleto con un dia de anticipacion</p> -->
<!-- 									<input type="date" class="form-control" th:field="*{fecha}" th:value="*{fecha}" -->
<!-- 										required></input> -->
<!-- 								</div> -->
								<div class="form-row text-center">
									<button type="submit" class="btn btn-dark m-3">Comprar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</section>

	<footer th:insert="fragmentos/footer :: _footer"></footer>
	
	<script th:replace="fragmentos/head :: _scriptBoostrap"></script>
</body>

</html>

<!--
	<form th:object="${ticket}" th:action="@{/ticket/compra/__${ticket.idTicket}__}"
								method="POST">
								<div class="form-group">

									<p><strong>Usuario: </strong><small th:value="${usuario}" th:field="*{usuario}"
											th:text="${ticket.usuario.nombreDeUsuario}"></small>
									<p><strong>Pelicula: </strong><small th:value="${pelicula}" th:field="*{pelicula}"
											th:text="${ticket.pelicula.titulo}"></small>

									<div class="form-group">
										<label class="form-label"><strong>Lugar:</strong></label>
										<input type="text" class="form-control" th:field="*{lugar}" th:value="*{lugar}"
											required></input>
									</div>
									<div class="form-group">
										<label class="form-label"><strong>Precio:</strong></label>
										<input type="text" class="form-control" th:field="*{precio}"
											th:value="*{precio}" required></input>
									</div>
									<div class="form-group">
										<label class="form-label"><strong>Fecha:</strong></label>
										<input type="date" class="form-control" th:field="*{fecha}" th:value="*{fecha}"
											required></input>
									</div>
									<div class="form-row text-center">
										<button type="submit" class="btn btn-dark m-3">Comprar</button>
									</div>
								</div>
							</form>
							-->


<!-- <div class="row vh-50 justify-content-center align-items-center m-5 "> -->