<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragmentos/head :: _head"></head>

<body>
	<nav th:insert="fragmentos/navbar :: _navbar"></nav>

	<!-- ERROR -->
	<div th:if="${error} != null" class="alert-danger alert-dimissible fade show mt-3" role="alert">
		<span th:text="${error}"></span>
	</div>

	<!-- GRID -->
	<div class="container-fluid">
		<div class="row mt-3">

			<!-- PRIMER COLUMNA: FOTO -->
			<div class="col-4">
				<img th:src="*{'data:imagen/jpeg;base64,'+{pelicula.imagen}}" class="img-fluid rounded mx-auto d-block"
					alt="...">
			</div>

			<!-- SEGUNDA COLUMNA: PELICULA -->
			<div class="col-5">
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
							data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
							aria-selected="true">
							Sinopsis
						</button>
						<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
							type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
							Datos
						</button>
					</div>
				</nav>
				<div th:object="${pelicula}" class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<p th:text="*{descripcion}"></p>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

						<p th:text="*{titulo}"></p>
						<p th:text="*{anio}"></p>
						<p th:text="*{duracion}"></p>
						<p th:text="*{genero}"></p>
						<p th:text="*{pais}"></p>
						<p th:text="*{idioma}"></p>
						<p th:text="*{subtitulo}"></p>
						<p th:text="*{genero}"></p>
						<p>Dirección</p>
					</div>
				</div>
			</div>

			<!-- TERCER COLUMNA: TICKET -->

			<div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title text-center">Boleto</h5>
						<!--<h6 class="card-subtitle mb-2 text-muted text-center">CINYEMA</h6>-->
						<form th:object="${ticket}" th:action="@{/ticket/compra}" method="POST">
							<div>
								<p><strong>Pelicula: </strong><small th:text="${ticket.pelicula.titulo}"></small></p>
							</div>
							<div>
								<p><strong>Usuario: </strong><small th:text="${ticket.usuario.nombreDeUsuario}"></small>
								</p>
							</div>
							<div>
								<p><strong>Lugar: </strong><small th:text="${ticket.lugar}"></small></p>
							</div>
							<div>
								<p><strong>Precio: </strong><small th:text="${ticket.precio}"></small></p>
							</div>
							<div class="form-group">
								<label class="form-label"><strong>Fecha:</strong></label>
								<input type="date" class="form-control" th:field="*{fecha}" th:value="${fecha}"
									required></input>
							</div>
							<div class="form-row text-center">
								<button type="submit" class="btn btn-dark m-3">Comprar</button>
							</div>
						</form>

					</div>
				</div>
			</div>

			<script th:replace=fragmentos/head :: "_scriptBoostrap"></script>
</body>

</html>


<!-- <div class="row vh-50 justify-content-center align-items-center m-5 "> -->