<div th:fragment="_listarCine(cines,listar)">
    <section class="container m-5">
        <!-- clase de bootstrap -->
        <h1 class="text-center" th:text="${listar}"></h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre Cine</th>
                    <th scope="col">Nombre Sala</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Precio</th>
                    
                </tr>
            </thead>
            <tbody th:each="cine : ${cines}">
                <tr>
                    <th scope="row" th:text="${cine.idCine}"></th>
                    <td th:text="${cine.nombre}"></td>
                    <td><p th:each="sala : ${cine.salas}" th:text ="${sala.nombreSala}"></p></td>
                    <td th:text="${cine.direccion}"></th>
                    <td th:text="${cine.mail}"></th>
                    <td th:text="${cine.telefono}"></th>
                    <td th:text="${cine.precio}"></th>
                </tr>

            </tbody>
        </table>
        <div class=" text-center container">
            <div class="row justify-content-md-center">
                <div class="col col-md-2">
                    <a th:href="@{/cine/registrar}" class="btn btn-success my-2">Nuevo</a>
                </div>
                <div class="col col-md-2">
                    <a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
                </div>
            </div>
        </div>

    </section>
</div>