<div id="tablaAdmin" th:fragment="_listarCine(cines,listar)">
<!-- DATATABLES -->
     <div class="row">
        <div class="col-md-9 mb-3 tamTabla">
          <div class="card">
            <div class="card-header">
              <span><i class="bi bi-table me-2"></i></span>
              <h1 class="text-center">Cine</h1>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="datatablesSimple" class="table table-striped data-table">
		            <thead>
		                <tr>
		                    <th scope="col">Id</th>
		                    <th scope="col">Nombre Cine</th>
		                    <th scope="col">Nombre Sala</th>
		                    <th scope="col">Direccion</th>
		                    <th scope="col">Mail</th>
		                    <th scope="col">Telefono</th>
		                    <th scope="col">Precio</th>
		                    <th scope="col">Modificar</th>
		                    <th scope="col">Eliminar</th>
		                </tr>
		            </thead>
		            <tbody th:each="cine : ${cines}">
		                <tr>
		                    <th scope="row" th:text="${cine.idCine}"></th>
		                    <td th:text="${cine.nombre}"></td>
		                    <td><p th:each="sala : ${cine.salas}" th:text ="${sala.nombreSala}"></p></td>
		                    <td th:text="${cine.direccion}"></td>
		                    <td th:text="${cine.mail}"></td>
		                    <td th:text="${cine.telefono}"></td>
		                    <td th:text="${cine.precio}"></td>
		                    <td>
		                        <a th:href="@{/cine/editar/__${cine.idCine}__}"><i class="far fa-edit"></i></a>
		                    </td>
		                    <td>
		                        <a th:href="@{/cine/eliminar/__${cine.idCine}__}"><i class="far fa-trash-alt"></i></a>
		                    </td>
		                </tr>
		
		            </tbody>
        		</table>
        	  </div>
            </div>
          </div>
        </div>
      </div>	
</div>	     
        