@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;900&display=swap');
/*--------------------------------------------------------------
:root - colores de la pagina
--------------------------------------------------------------*/
:root {
  --fondo-html: #201F20;
  --fondo-secciones: #040405;
  --color-text: #6C6D70;
  --color-text2: #989898;
  --color-titulo: #ffffff;
  --color-amarillo: #FAED1F;
  --color-naranja: #F37735; 
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  background: var(--fondo-html);
}

/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/

.navbar{
  height: 85px;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background: var(--fondo-secciones);
 box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

nav .logo {
  font-size: 32px;
  margin: 0px 0px 10px 0px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav .logo img {
  max-height: 45px;
}

/*
nav .logo img:hover {
  transform: translateY(-1px);
  box-shadow: 0 19px 38px rgba(126, 126, 126, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
*/

#login{
	margin: 5px 0px 0px 0px;
}

#login ul li a{
	color: #ffbb38;
}

#login .dropdown:hover > .dropdown-menu {
  display: block;
}

#login .dropdown-menu {
  margin: -0.125rem 0 0;
}

#login .dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

#login .dropdown-toggle::after {
     display: none;
}

.icono{
	font-size: 21px;
	margin-right: 3px;
}

.username{
	font-size: 20px;
}

.btnIngresar {
  color: #fff;
  border-radius: 4px;
  padding: 7px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #ffc451;
  text-decoration: none;
}
.btnIngresar:hover {
  background: #ffbb38;
  color: #343a40;
  transform: translateY(-2px);
}


/*--------------------------------------------------------------
# Login-Registro
--------------------------------------------------------------*/

#login-registro{
	margin: 100px 0px 100px 0px;
}

/*--------------------------------------------------------------
# Formularios de Registros
--------------------------------------------------------------*/

#registros{
	margin: 150px 0px 100px 270px;
}

#registros form{
	background-color: rgb(0, 0, 0);
    width: 100%;
    max-width: 400px;
    margin-bottom: 100px;
    border-radius: 16px;
    padding: 35px 25px;
    padding-bottom: 25px;
    opacity: 0.8;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

#registros .titulo{
	margin: 0px 0px 20px 0px;
}

#registros .form-group{
	margin: 0px 0px 10px 0px;
}

#registros .boton{
	margin: 25px 0px 0px 0px;
}

/*--------------------------------------------------------------
# Panel Usuario
--------------------------------------------------------------*/

#panelUsuario{
	margin: 100px 0px 100px 0px;
	/*background: linear-gradient(to bottom, var(--color-naranja));*/
	/*background-image: url(/img/skyline.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;*/
}

/*-- card usuario --*/
.card-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 250px;
    padding-bottom: 15px;
    background-color: rgb(10, 10, 10);
}

.card-usuario img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(60deg, var(--color-amarillo), var(--color-naranja));
    padding: 5px;
    margin-top: -45px;
}

.card-usuario h2{
    margin: 10px 0;
    color: var(--color-titulo);
}

.cont{
    width: 90%;
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.6s ease;
    color: var(--color-text2);
}

.card-usuario:hover > .cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100px;
}

/*-- card boleto --*/

.container-imagen-boleto {
	background-color: var(--fondo-secciones);
}

.container-imagen-boleto img {
	height: 100%;
}

.container-tarjeta-ticket {
	background-color: #181818;
	border: none;
	border-right: 0.2rem solid transparent;
	border-image: linear-gradient(to bottom, var(--color-naranja), var(--color-amarillo));
	border-image-slice: 1; 
	transition: 0.5s;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin: 20px;
}

.container-tarjeta-ticket:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 15px 15px 15px;
}

.body-text-ticket {
	margin: 20px;
}

.body-text-ticket .titulo {
	color: var(--color-titulo);
	font-weight: bold;
	border: var(--fondo-secciones);
	
}

.body-text-ticket .body-text-boleto {
	color: #989898;
}

/* PARTE DE USUARIO MANUAL (PRIMERA VERSION COMENTADA EN EL HTML POR LAS DUDAS) 

#tarjeta-datos-usuario {
	color: #fff;
	background-color: #181818;
	border: var(--color-amarillo) 0.3px solid;
	border-image: linear-gradient(to bottom, var(--color-amarillo), var(--fondo-secciones));
	border-image-slice: 2; 
	border-radius: 10px;
	padding-bottom: 100 px;
	margin: 30px;
}

#tarjeta-datos-usuario h2 {
	font-weight: bold;
}

#tarjeta-datos-usuario .card-user-body {
	margin: 0px 20px 40px 20px;
}

#tarjeta-datos-usuario .circulo-usuario {
	margin: 30px auto 3px auto;
}

#tarjeta-datos-usuario .circulo-logo-usuario {
 color:black;

}
*/

/*--------------------------------------------------------------
# Panel Admin
--------------------------------------------------------------*/

#sidebar{
  background: var(--fondo-secciones);
}

.sidebar-nav {
  width: 270px;
  -webkit-transform: none;
  transform: none;
  visibility: visible !important;
  height: calc(100% - 97px);
  top: 85px;
}
.sidebar-link {
  display: flex;
  align-items: center;
}

#sidebar .nav-link{
	font-size: 1.25rem;
}

#sidebar .links:active,
#sidebar .links:focus,
#sidebar .links:hover{
	background: #ff9966; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main{
   margin-left: 270px;
}

.offcanvas-backdrop::before {
   display: none;
}

.panelControl{
	margin-top: 25px;
}

.spanTitulo{
	cursor: pointer;
}

/*--------------------------------------------------------------
# Cards Panel Admin
--------------------------------------------------------------*/

#cardAdmin .cardsAdmin{
	margin: 150px 0px 100px 0px;
}

#cardAdmin .card-body:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 10px 2px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

/*--------------------------------------------------------------
# Tablas Panel Admin
--------------------------------------------------------------*/

#tablaAdmin{
	margin: 200px 0px 100px 270px;
}

#tablaAdmin .tamTabla{
	margin: auto;
	width: 95%;
}

#tablaAdmin table {
  border-collapse: collapse;
}

#tablaAdmin .buscador{
	width: 50%;
	height: 41px;
	margin: 15px 0 0px 0px;
	border-radius: 5px;
	border-color: black;
	color: black;
}

#tablaAdmin .buscador:hover{
	border-color: gray;
}

#tablaAdmin .btn_buscar{
	margin: 0px 0 2px 0px;
	border-color: black;
	height: 40px;
	width: 42px;
}

#tablaAdmin .btn_buscar:hover{
	border-color: gray;
}

#tablaAdmin .btn_actualizar{
	margin: 0px 0 2px 0px;
	border-color: black;
	height: 40px;
	width: 42px;
}

#tablaAdmin .btn_actualizar:hover{
	border-color: gray;
}

#tablaAdmin .errorBuscar{
	color: red;
}

/*--------------------------------------------------------------
# Ticket Compra
--------------------------------------------------------------*/

#ticketCompra{
	margin: 150px 0px 100px 0px;
}

#ticketCompra .trailer{
	color: white;
	text-decoration: none;
}

#ticketCompra .trailer:hover{
	color: #ffc451;
}

#ticketCompra .sinopsis{
	color:white;
}

#ticketCompra .tituloBoleto{
	color: #ffc451;
}

#ticketCompra .tituloBoleto:hover{
	color: #ffff80;
}



/*--------------------------------------------------------------
# Menu Principal
--------------------------------------------------------------*/

#menu{
	margin: 50px 0px 50px 0px;
}

.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.slider-card {
  padding: 0px 0px;
  margin: 40px 30px 80px 40px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}

.slider-card img {
  border-radius: 5px 5px 0px 0px;
  height: 250px;
  width: 100%;
  background-color: none;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 7px;
  width: 7px;
  border-radius: 10px;
  background: var(--color-text2) !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #f4bb39 !important;
}

/*--------------------------------------------------------------
# menu-busqueda-index
--------------------------------------------------------------*/
.barra-menu {
  width: 1rem;
  height: 100%;
  position: absolute;
  left: 0%;
  background: linear-gradient(to bottom, var(--color-naranja), var(--color-amarillo));
}

.barra-menu i {
  font-size: 2rem;
  position: absolute;
  top:50%;
  left:-22%;
  z-index: -1;
  background: linear-gradient(to bottom, var(--color-naranja), var(--color-amarillo));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.check-menu:checked ~ .barra-menu {
  left: 30%;
}

/*--------------------------------------------------------------
# cardPelicula
--------------------------------------------------------------*/
.img-card-caja {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.img-card-caja button {
  background: transparent;
  border: none;
  outline: none;
}

.img-card-pelicula:hover ~ .img-card-titulo h5, .img-card-titulo h5:hover {
  background: linear-gradient(to bottom, var(--color-naranja), var(--color-amarillo));
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button .img-card-pelicula {
  display: block;
  height: 300px;
  width: 225px;
}

.img-card-titulo {
  position: absolute;
  top: 80%;
  width: 225px;
  background-color: var(--fondo-secciones);
  opacity: 0.9;
}

.img-card-titulo h5 {
  color: var(--color-text);
  font-size: 16px;
  margin: auto;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: var(--fondo-secciones);
  padding: 0 0 30px 0;
  color: #fff;
}

#footer .footer-top {
  background: #151515;
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}

#footer .logoY:hover{
	border-radius: 120px;
}

#footer .lista{
	list-style: none;
}

#footer .lista li{
	padding: 10px 0;
}

#footer .links{
  font-size: 18px;
  color: #fff;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}
#footer .links:hover {
  color: #ffc451;
}

#footer .efecto:hover{
	transform: translateY(-2px);
	box-shadow: 0 19px 38px rgba(102, 102, 102, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #ffc451;
  color: #151515;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}


