<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragmentos/head :: _head"></head>

<body>
	<nav th:insert="fragmentos/navbar :: _navbar"></nav>

	<main class="container">
		<div "row mt-5class=">
			<div class="col">
			<div class="display-1 text-center mt-5" th:text="${codigo}"></div>
		</div>
		</div>
		<div "row mt-5class=">
			<div class="col">
			<div class="display-1 text-center mt-5" th:text="${mensaje}"></div>
		</div>
		</div>
	</main>
	<script th:replace="fragmentos/head :: _scriptBoostrap"></script>
</body>

</html>