<div th:fragment="_registrarUsuario(usuario,error,registrar)">
	<section id="login-registro" class="container w-75 mt-4 shadow">
		<div class="login-registro">
			
			<div class="row align-items-center align-items-stretch">
					<div class="col d-none d-lg-block col-md-5 col-lg-5 col-xl-6 bg"></div>
					
					<div class="col p-3 col-lg-7 col-xl-6 fondo">
						<div class="text-center">
		                    <img class="logoY" src="img/logoY.png" alt="" style="width:100px">
		                </div>
                		<h2 class="fw-bold text-center pt-4 mb-4 tituloLogin">Registro</h2>

						<form th:object="${usuario}" action="/registrar" method="POST">
							<div class="my-3 grupo">
								<label for="nombredeusuario" class="form-label text-light">Nombre de Usuario</label> 
								<input type="text" class="form-control" id="nombredeusuario" th:field="*{nombreDeUsuario}">
							</div>
							<div class="my-3 grupo">
								<label for="nombreApellido" class="form-label text-light">Nombre y Apellido</label> 
								<input type="text" class="form-control" id="nombreApellido" th:field="*{nombre}">
							</div>
							<div class="my-3 grupo">
								<label class="form-label text-light">Fecha de Nacimiento</label> 
								<input type="date" class="form-control" th:field="*{fechaNacimiento}">
							</div>
							<div class="my-3 grupo">
								<label for="mail" class="form-label text-light">Correo Electrónico</label> 
								<input type="email" class="form-control" id="mail" th:field="*{mail}">
							</div>
							<div class="my-3 grupo">
								<label for="contrasenia" class="form-label text-light">Contraseña</label> 
								<input type="password" class="form-control" id="contrasenia" th:field="*{contrasenia}">
							</div>
							
							<div class="my-4 grupo">
								<p th:if="${error != null}" th:text="${error}"></p>
							</div>
							
							<div class="my-4 text-center">
                        		<button type="submit" class="btnIngresar">Registrarse</button>
                    		</div>   
						</form>
					</div>
			</div>
		</div>
	</section>
</div>