<footer th:fragment="_footer" id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-4">
              	<h1 class="logo me-auto me-lg-0">
					<a th:href="@{/cinyema}" class="efecto logoY logo me-auto me-lg-0">
						<img src="/img/logoY.png" alt="" class="img-fluid">
					</a><span></span>
				</h1>
          </div>

          <div class="col-lg-3 col-md-4">
          	<ul class="lista">
          		<li><a th:href="@{/cinyema}" class="efecto links">Terminos y Condiciones</a></li>
            	<li><a th:href="@{/cinyema}" class="efecto links">Centro de Ayuda</a></li>
            	<li><a th:href="@{/cinyema}" class="efecto links">Contacto</a></li>
          	</ul>
          </div>
          
          <div class="col-lg-3 col-md-4"> 	
          	<ul class="lista">    
				<li>
					<a th:href="@{/cinyema}" class="efecto logo me-auto me-lg-0">
						<img src="/img/dataFiscal.jpg" alt="" width="30%" class="img-fluid">
					</a>	
				</li>	
			</ul>
          </div>
          
          <div class="col-lg-3 col-md-4">
          	<ul class="lista">
          		<li class="social-links">
	          		<a href="#"><i class="uil uil-twitter"></i></a>
        		</li>
            	<li class="social-links">
	              	<a href="#"><i class="uil uil-facebook"></i></a>
	            </li>
            	<li class="social-links">
            		<a href="#"><i class="uil uil-instagram"></i></a>
            	</li>
          	</ul>
          </div>
          
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy;Copyright <strong><span>Cinyema</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
