<div th:fragment="_registroFuncion(registro,error,salas,peliculas,tickets,funcion)">
<section class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto">
            <h1 th:text="${registro}" class="text-center"></h1>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3" style="max-width: 23rem;">
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <form th:object="${funcion}" th:action="@{/funcion/registrar}" method="POST">
               <div class="form-group">
                    <label class="form-label">Titulo de la Pelicula</label>
                    <select class="form-select" th:field="*{pelicula}" required>
                        <option th:each="pelicula : ${peliculas}" 
            th:value="${pelicula.idPelicula}" th:text="${pelicula.titulo}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Nombre de la Sala</label>
                    <select class="form-select" th:field="*{sala}" required>
                        <option th:each="sala : ${salas}" 
            th:value="${sala.idSala}" th:text="${sala.nombreSala}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Fecha</label>
                    <input type="date" class="form-control" th:field="*{fecha}" th:value="${fecha}" required></input>
                </div>
                <div class="form-group">
                    <label class="form-label">Horario</label>
                    <input type="text" class="form-control" th:field="*{horario}" th:value="${horario}" required></input>
                </div>

                <button class="btn btn-primary" type="submit">Guardar</button>

            </form>
        </div>
    </div>
</section>
</div>