<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragmentos/head :: _head"></head>

<body>
	<nav th:insert="fragmentos/navbar :: _navbar"></nav>
	<section id="panelUsuario">
		<div class="container-fluid">
			<div class="row justify-content-center">

				<!----------------------------------------- CARD USUSARIO -------------------------------------------->
				<div class="col-sm-3">
					<br><br><br>
					<div class="card-usuario">
						<img src="https://i.pinimg.com/originals/7d/a4/b2/7da4b2a2fccdc1c68e60e4a081ee512d.gif" alt="">
						<h2 class="card-title" th:text="${usuario.nombreDeUsuario}">Full Name</h2>
						<div class="cont">
							<p><i class="fas fa-envelope"></i> <small th:text="${usuario.mail}"></small></p>
							<p><i class="fas fa-user-alt"></i> <small th:text="${usuario.nombre}"></small></p>
							<p><i class="fas fa-calendar-minus"></i> <small
									th:text="${#dates.format({fechaNacimiento}, 'dd/MM/yyyy')}"></small>
							</p>
						</div>
					</div>
				</div>
				
				<!------------------------------------------ CARD BOLETO ------------------------------------------>
				<div class="col-sm-7">
					<div class="card mb-3 container-tarjeta-ticket">
						<div class="row g-0">

							<div class="col-md-5">
								<div class="container-imagen-boleto">
									<img src="/img/error/400.jpg" class="card-img-top p-2 flex-fill bd-highlight"
										alt="...">
								</div>
							</div>

							<div class="col-md-7">
								<div class="body-text-ticket d-inline-flex p-2">
									<div class="row">
										<h5 class="body-title titulo text-center"><small th:text="${pelicula.titulo}"></small></h5>
										<div class="row">
											<div class="col-6 ">
												<p class="body-text-boleto">
													Showcase (Junín 498)<br>
													10/12/21 14:30<br>
													$1500
												</p>
											</div>
											<div class="col-6">
												<p class="body-text-boleto">
													Showcase (Junín 498)<br>
													10/12/21 14:30<br>
													$1500
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-------------------------------------------------------------------------------------------->
	</section>

	<footer th:insert="fragmentos/footer :: _footer"></footer>
	<script th:replace="fragmentos/head :: _scriptBoostrap"></script>
</body>
</html>

<!--- parte manual TABLA boleto ---
	
	<table class="table table-dark">
								<thead>
									<tr>
										<th scope="col">Cine</th>
										<th scope="col">Pelicula</th>
										<th scope="col">Imagen</th>
										<th scope="col">Fecha</th>
										<th scope="col">Horario</th>
										<th scope="col">Asiento</th>
										<th scope="col">Precio</th>
									</tr>
								</thead>
								<tbody th:each="ticket : ${usuario.ticket}">
									<tr>
										<th scope="row" th:text="${ticket.pelicula.titulo}"></th>
										<td th:text="${ticket.precio}"></td>
										<td th:text="${ticket.fecha}"></td>
									</tr>
								</tbody>
							</table>
	
	--- parte manual card perfirl ---
	
	<div class="card" id="tarjeta-datos-usuario">
						<span class="fa-stack fa-lg fa-4x circulo-usuario">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fas fa-user fa-stack-1x fa-inverse circulo-logo-usuario"></i>
						</span>
						<div class="card-user-body text-center">
							<h2 class="card-title" th:text="${usuario.nombreDeUsuario}"></h2>
							<div class="card-text">
								<p><i class="fas fa-envelope"></i> <small th:text="${usuario.mail}"></small></p>
								<p><i class="fas fa-user-alt"></i> <small th:text="${usuario.nombre}"></small></p>
								<p><i class="fas fa-calendar-minus"></i> <small
										th:text="${#dates.format({fechaNacimiento}, 'dd/MM/yyyy')}"></small>
								</p>
							</div>
						</div>
					</div>					
--->