<div th:fragment="_editarDirector(director,error)">
	<section class="container">
		<div class="row vh-50 justify-content-center align-items-center">
			<div class="col-auto">
				<h1 class="text-center">Editar Director</h1>

				<div th:if="${error}!=null" class="card text-white bg-danger mb-3" style="max-width: 23rem;">
					<div class="card-body">
						<h5 class="card-title">Error</h5>
						<p class="card-text" th:text="${error}"></p>
					</div>
				</div>
				
				<form th:action="@{/director/editar/__${director.idDirector}__}" method="POST">

					<div class="form-group">
						<label class="form-label">Nombre</label>
						<input type="text" class="form-control" name="nombre" th:value="${nombre}" required></input>
					</div>

					<div class="form-group">
						<label class="form-label">Pais</label>
						<select class="form-select" name="pais" required>
							<option th:each="pais : ${T(com.cinyema.app.enumeraciones.Pais).values()}"
								th:value="${pais}" th:text="${pais}"></option>
						</select>
					</div>

					<button class="btn btn-primary" type="submit">Guardar</button>

				</form>

			</div>
		</div>
	</section>
</div>