<div th:fragment="_listarTicket(tickets,listar)">
    <section class="container m-5">
        <!-- clase de bootstrap -->
        <h1 th:text="${listar}" class="text-center"></h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Pelicula</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Lugar</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody th:each="ticket : ${tickets}">
                <tr>
                    <th scope="row" th:text="${ticket.idTicket}"></th>
                    <td th:text="${ticket.pelicula.titulo}"></td>
                    <td th:text="${ticket.usuario.nombreDeUsuario}"></td>
                    <td th:text="${ticket.fecha}"></td>
                    <td th:text="${ticket.lugar}"></td>
                    <td th:text="${ticket.precio}"></td>
                    <td>
                        <a th:href="@{/ticket/editar/__${ticket.idTicket}__}"><i class="fa fa-arrow-up"></i></a>
                    </td>
                    <td>
                        <a th:href="@{/ticket/eliminar/__${ticket.idTicket}__}"><i class="fa fa-ban"></i></a>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class=" text-center container">
            <div class="row justify-content-md-center">
                <div class="col col-md-2">
                    <a th:href="@{/ticket/registrar}" class="btn btn-success my-2">Nuevo</a>
                </div>
                <div class="col col-md-2">
                    <a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
                </div>
            </div>
        </div>

    </section>
</div>