<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragmentos/head :: _head"></head>

<body>
	<nav th:insert="fragmentos/nav :: _cabeceraAdmin"></nav>
	
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">NOMBRE COMPLETO</th>
				<th scope="col">PAÍS</th>
				<th scope="col">PELÍCULA</th>
			</tr>
		</thead>
		<tbody th:each="actor : ${actores}">
			<tr>
				<th scope="row" th:text="${actor.nombre}"></th>
				<td>
					<select name="pais">
   						 <option th:each="paisOpt : ${T(com.baeldung.thymeleaf.model.Color).values()}" th:value="${paisOpt}" th:text="${paisOpt}"></option>
					</select>
				</td>
				<td>
					<i th:if="${author.registered}" class="fa fa-circle text-success"><a th:href="@{/author/registeredDown/__${author.id}__}"><i class="fa fa-ban"></i></a></i>
					<i th:unless="${author.registered}" class="fa fa-circle" style="color:red;"><a th:href="@{/author/registeredUp/__${author.id}__}"><i class="fa fa-arrow-up"></i></a></i>
				</td>
				<td><a th:href="@{/author/edit/__${author.id}__}">Edit</a></td>
				<td><a th:href="@{/author/delete/__${author.id}__}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary" th:href="@{/author/create}">Add Author</a>
	<a class="btn btn-primary" th:href="@{/}">Index</a>
	
</body>

</html>