<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="admin/fragmentos/head :: _head"></head>

<body>
    <nav th:insert="admin/fragmentos/nav :: _cabezeraAdmin"></nav>
    
    <div th:if="${listar}!= null">
        <table 
        	th:replace="admin/fragmentos/actor-director/listarActorDirector.html :: _listarActorDirector(botones='actor', lista=${actores})">>
        </table>
    </div>
    
    <div th:if="${registrar}!= null">
        <div
            th:replace="admin/fragmentos/actor-director/registrarActorDirector.html :: _registrarActorDirector(entidadARegistrar=${actor}, error=${error})">
        </div>
        
</body>

</html>