<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="admin/fragmentos/head :: _head"></head>

<body>
	<nav th:insert="admin/fragmentos/nav :: _cabezeraAdmin"></nav>

	<div th:if="${listar}!= null">
		<div th:replace="admin/fragmentos/actor/listarActor.html :: _listarActor(actores=${actores})">>
		</div>
	</div>

	<div th:if="${registrar}!= null">
		<div th:replace="admin/fragmentos/actor/registrarActor.html :: _registrarActor(actor=${actor}, error=${error})">
		</div>
	</div>

	<div th:if="${editar}!= null">
		<div th:replace="admin/fragmentos/actor/editarActor.html :: _editarActor(actor=${actor}, error=${error})">>
		</div>
	</div>
	</div>
</body>

</html>