<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="admin/fragmentos/head :: _head">
</head>
<body>
    <nav th:insert="admin/fragmentos/nav :: _cabezeraAdmin"></nav>

    <div th:if="${listar}!= null">
    	<div th:replace="admin/fragmentos/ticket/listarTicket :: _listarTicket(tickets=${tickets},listar=${listar})"></div>
    </div>
    
    <div th:if="${registrar}!= null">
    	<div th:replace="admin/fragmentos/ticket/registrarTicket :: _registrarTicket(error=${error},ticket=${ticket},pelicula=${pelicula},usuario=${usuario},listar=${listar})"></div>
    </div>
    
    <!-- <div th:if="${editar}!= null">
        <div
            th:replace="admin/fragmentos/editarPelicula :: _registroPelicula(editar=${editar},error=${error},directores=${directores},actores=${actores})">
        </div>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>